.topic-list__item {
  line-height: 24px;
  margin-left: 24px;
}

.topic-list__item span {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #2b2b2b;

  &:hover {
    text-decoration: overline;
    color: #111;
  }
}

.topic-list__item button {
  background-color: white;
  border: white;
  color: black;

  &:hover {
    text-decoration:overline;
    color: #111;
  }
}

/* Dark Mode Styles */
.App.dark-mode .topic-list__item button {
  background-color: #1f2023;
  color: white;
  
  &:hover {
    color: #ddd;
    text-decoration: overline;
  }
}